.restore {
    width: 80px;
    background-color: rgb(97, 60, 4);
    font-weight: bold;
    border-radius: 20px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .restore:hover {
    background-color: rgb(230, 220, 37);
    color: black;
  }